<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    <link type="text/css" rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="/stylesheets/bootstrap.css">

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

    <!-- Slick -->
    <link type="text/css" rel="stylesheet" href="/stylesheets/slick.css">
    <link type="text/css" rel="stylesheet" href="/stylesheets/slick-theme.css">

    <!-- nouislider -->
    <link type="text/css" rel="stylesheet" href="/stylesheets/nouislider.min.css">

    <!-- Font Awesome Icon-->
    <!-- link rel="stylesheet"
        href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
        crossorigin="anonymous" -->

    <link type="text/css" rel="stylesheet" href="/stylesheets/font-awesome.min.css">

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="/stylesheets/style.css">

</head>

<body>
    <!-- HEADER -->
    <header>
        <!-- TOP HEADER -->
        <div id="top-header">
            <div class="container">
                <ul class="header-links pull-left">
                    <li>
                        <a href="#">
                            <i class="fa fa-phone"></i>
                            +84-342-011-299</a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-envelope-o"></i>
                            soloq@email.com</a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-map-marker"></i>
                            11 Cao Lỗ, Quận 8</a>
                    </li>
                </ul>
                <ul class="header-links pull-right">
                    {{#if userSession.name}}
                    {{#with userSession}}
                    <li>
                        <a href="/users/account">
                            <i class="fa fa-user-o"></i>
                            Xin chào, {{name}}</a>
                    </li>
                    {{/with}}
                    {{else}}
                    <li>
                        <a href="/users/login">
                            <i class="fa fa-sign-in" aria-hidden="true">
                            </i>
                            Đăng nhập</a>
                    </li>
                    {{/if}}
                </ul>
            </div>
        </div>
        <!-- /TOP HEADER -->

        <!-- MAIN HEADER -->
        <div id="header">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">
                    <!-- LOGO -->
                    <div class="col-md-3">
                        <div class="header-logo">
                            <a href="/" class="logo">
                                <img src="/images/logo.png" alt="">
                            </a>
                        </div>
                    </div>
                    <!-- /LOGO -->

                    <!-- SEARCH BAR -->
                    <div class="col-md-6">
                        <div class="header-search">
                            <form action="/product/search" method="POST">
                                <select class="input-select">
                                    <option value="0">Danh mục</option>
                                    {{#each listCategory}}
                                    <option value="1">{{this.name}}</option>
                                    {{/each}}
                                </select>
                                <input class="input" placeholder="Tìm kiếm...">
                                <button class="search-btn" type="submit"><i class="fa fa-search"></i></button>
                            </form>
                        </div>
                    </div>
                    <!-- /SEARCH BAR -->

                    <!-- ACCOUNT -->
                    <div class="col-md-3 clearfix">
                        <div class="header-ctn">
                            <!-- Cart -->
                            <div class="dropdown" id="cart" onclick="handleCart(this.id)">
                                <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                    <i class="fa fa-shopping-cart"></i>
                                    <span>Giỏ hàng</span>
                                    <div class="qty" id="qtyCart">0</div>
                                </a>
                                <div class="cart-dropdown">
                                    <div class="cart-list" id="list_product">
                                        {{!-- <div class="product-widget">
                                            <div class="product-img">
                                                <img src="/images/product01.png" alt="">
                                            </div>
                                            <div class="product-body">
                                                <h3 class="product-name">
                                                    <a href="#">product name goes here</a>
                                                </h3>
                                                <h4 class="product-price">
                                                    <span class="qty">1x</span>$980.00</h4>
                                            </div>
                                            <button class="delete">
                                                <i class="fa fa-close"></i>
                                            </button>
                                        </div> --}}
                                    </div>
                                    <div class="cart-summary">
                                        <small>3 Item(s) selected</small>
                                        <h5>Tổng cộng: $2940.00</h5>
                                    </div>
                                    <div class="cart-btns">
                                        <a href="/users/cart">View Cart</a>
                                        <a href="#">Checkout
                                            <i class="fa fa-arrow-circle-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- /Cart -->
                            <!-- Menu Toogle -->
                            <div class="menu-toggle">
                                <a href="#">
                                    <i class="fa fa-bars"></i>
                                    <span>Menu</span>
                                </a>
                            </div>
                            <!-- /Menu Toogle -->
                        </div>
                    </div>
                    <!-- /ACCOUNT -->
                </div>
                <!-- row -->
            </div>
            <!-- container -->
        </div>
        <!-- /MAIN HEADER -->
    </header>
    <!-- /HEADER -->

    <!-- NAVIGATION -->
    <nav id="navigation">
        <!-- container -->
        <div class="container">
            <!-- responsive-nav -->
            <div id="responsive-nav">
                <!-- NAV -->
                <ul class="main-nav nav navbar-nav">
                    <li>
                        <a href="/">Trang chủ</a>
                    </li>
                    {{#each listCategory}}
                    <li>
                        <a href="#">{{name}}</a>
                    </li>
                    {{/each}}
                </ul>
                <!-- /NAV -->
            </div>
            <!-- /responsive-nav -->
        </div>
        <!-- /container -->
    </nav>
    <!-- /NAVIGATION -->

    {{{body}}}

    <!-- NEWSLETTER -->
    <div id="newsletter" class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-12">
                    <div class="newsletter">
                        <p>Đăng ký nhận thông tin <strong>Khuyến mãi</strong></p>
                        <form>
                            <input class="input" type="email" placeholder="Nhập email">
                            <button class="newsletter-btn"><i class="fa fa-envelope"></i> Đăng ký</button>
                        </form>
                        <ul class="newsletter-follow">
                            <li>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /NEWSLETTER -->
    <!-- FOOTER -->
    <footer id="footer">
        <!-- top footer -->
        <div class="section">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">
                    <div class="col-md-3 col-xs-6">
                        <div class="footer">
                            <h3 class="footer-title">About Us</h3>
                            <p>Uy tính, chất lượng, nhanh chóng.</p>
                            <ul class="footer-links">
                                <li><a href="#"><i class="fa fa-map-marker"></i>11 Cao Lỗ, Quận 8</a></li>
                                <li><a href="#"><i class="fa fa-phone"></i>+84-342-011-299</a></li>
                                <li><a href="#"><i class="fa fa-envelope-o"></i>soloq@email.com</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-3 col-xs-6">
                        <div class="footer">
                            <h3 class="footer-title">Danh mục</h3>
                            {{#each listCategory}}
                            <ul class="footer-links">
                                <li><a href="#">{{this.name}}</a></li>
                            </ul>
                            {{/each}}
                        </div>
                    </div>

                    <div class="clearfix visible-xs"></div>

                    <div class="col-md-3 col-xs-6">
                        <div class="footer">
                            <h3 class="footer-title">Thông tin</h3>
                            <ul class="footer-links">
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Contact Us</a></li>
                                <li><a href="#">Chính sách bảo mật</a></li>
                                <li><a href="#">Đơn hàng và đổi trả</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-3 col-xs-6">
                        <div class="footer">
                            <h3 class="footer-title">Dịch vụ</h3>
                            <ul class="footer-links">
                                <li><a href="#">Tài khoản của tôi</a></li>
                                <li><a href="#">Giỏ hàng</a></li>
                                <li><a href="#">Yêu thích</a></li>
                                <li><a href="#">Theo dõi đơn hàng</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /top footer -->

        <!-- bottom footer -->
        <div id="bottom-footer" class="section">
            <div class="container">
                <!-- row -->
                <div class="row">
                    <div class="col-md-12 text-center">
                        <ul class="footer-payments">
                            <li><a href="#"><i class="fa fa-cc-visa"></i></a></li>
                            <li><a href="#"><i class="fa fa-credit-card"></i></a></li>
                            <li><a href="#"><i class="fa fa-cc-paypal"></i></a></li>
                            <li><a href="#"><i class="fa fa-cc-mastercard"></i></a></li>
                            <li><a href="#"><i class="fa fa-cc-discover"></i></a></li>
                            <li><a href="#"><i class="fa fa-cc-amex"></i></a></li>
                        </ul>
                        <span class="copyright">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved | This
                            template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a
                                href="https://colorlib.com" target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </span>


                    </div>
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /bottom footer -->
    </footer>
    <!-- /FOOTER -->

    <!-- jQuery Plugins -->
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/boostrap.min.js"></script>
    <script src="/javascripts/slick.min.js"></script>
    <script src="/javascripts/nouislider.min.js"></script>
    <script src="/javascripts/jquery.zoom.min.js"></script>
    <script src="/javascripts/main.js"></script>
    <script src="/javascripts/function.js"></script>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

</body>

</html>