<div class="container margin-top-50">
    <div class="row">
        <div class="col-sm-4 col-md-3">
            <!-- account tab nav -->
            <div class="nav-ver">
                <ul>
                    <li><a class="selected-a" href="/users/account">Thông tin cá nhân</a></li>
                    <li><a href="/users/history">Lịch sử giao hàng</a></li>
                </ul>
            </div>
            <!-- /account tab nav -->
        </div>
        <div class="col-sm-8 col-md-8 col-md-offset-1">
            {{#with userSession}}
            <div class="row myborder">
                <form action="/users/update" method="POST">
                    <h4 style="color: #048625d2; margin-bottom: 10px;">Chỉnh sửa thông tin tài khoản</h4>
                    <hr>
                    <label style="font-style:italic;  font-weight: 500; color: #048625d2">Email</label>
                    <div class="input-group margin-bottom-20">
                        <span class="input-group-addon"><i class="fa fa-user mycolor"></i></span>
                        <input size="60" maxlength="255" class="form-control" placeholder="Email đăng nhập" name="email"
                            id="email" value="{{email}}" type="text" disabled>
                    </div>
                    <label style="font-style:italic;  font-weight: 500; color: #048625d2">Mật khẩu</label>
                    <div class="input-group margin-bottom-20">
                        <span class="input-group-addon"><i class="fa fa-lock mycolor"></i></span>
                        <input size="60" maxlength="255" class="form-control" placeholder="Mật khẩu" name="password"
                            id="password" type="password" value="{{password}}">
                    </div>
                    <label style="font-style:italic;  font-weight: 500; color: #048625d2">Họ và tên</label>
                    <div class="input-group margin-bottom-20">
                        <span class="input-group-addon"><i class="fa fa-user mycolor"></i></span>
                        <input size="60" maxlength="255" class="form-control" placeholder="Họ và tên" name="name"
                            id="name" type="text" value="{{name}}"> </div>
                    <label style="font-style:italic;  font-weight: 500; color: #048625d2">Địa chỉ</label>
                    <div class="input-group margin-bottom-20">
                        <span class="input-group-addon"><i class="fa fa-envelope mycolor"></i></span>
                        <input size="60" maxlength="255" class="form-control" placeholder="Địa chỉ" name="address"
                            id="address" type="text" value="{{address}}"> </div>
                    <label style="font-style:italic;  font-weight: 500; color: #048625d2">Số điện thoại</label>
                    <div class="input-group margin-bottom-20">
                        <span class="input-group-addon"><i class="fa fa-phone mycolor"></i></span>
                        <input size="60" maxlength="255" class="form-control" placeholder="Số điện thoại" name="phone"
                            id="phone" type="text" value="{{phone}}"> </div>

                    <div class="row">
                        <div class="col-md-12" style="text-align: center">
                            <button class="btn-u col-sm-12" type="submit">Cập nhật</button>
                        </div>
                    </div>
                </form>
            </div>
            {{/with}}
        </div>
    </div>
</div>