<div class="container margin-top-50" class="text-center">
    <div class="row">

        <div class="col-sm-4 col-md-3">
            <!-- account tab nav -->
            <div class="nav-ver">
                <ul>
                    <li><a href="/users/account">Thông tin cá nhân</a></li>
                    <li><a class="selected-a" href="/users/history">Lịch sử giao hàng</a></li>
                    <li><a href="/users/change-pass">Đổi mật khẩu</a></li>
                </ul>
            </div>
            <!-- /account tab nav -->
        </div>
        <!-- account tab content -->
        <div class="col-sm-8 col-md-9">
            <table class="table table-hover">
                <thead>
                    <tr class="row">
                        <th class="col-sm-1" style="text-align: center" scope="col">Mã</th>
                        <th class="col-sm-1" style="text-align: center" scope="col">Ngày mua</th>
                        <th class="col-sm-3" style="text-align: center" scope="col">Sản phẩm</th>
                        <th class="col-sm-1" style="text-align: center" scope="col">Tổng tiền</th>
                        <th class="col-sm-4" style="text-align: center" scope="col">Địa chỉ</th>
                        <th class="col-sm-2" style="text-align: center" scope="col">Trạng thái</th>

                    </tr>
                </thead>
                <tbody class="row">
                    {{#each transactions}}
                    <tr class="row">
                        <td style="text-align: center" class="col-1">
                            <div>
                                <span style="font-weight: 500">1</span>
                            </div>
                        </td>
                        <td style="text-align: center" class="col-2">
                            <div>
                                {{formatDate createdAt}}
                            </div>
                        </td>
                        <td style="text-align: center" class="col-5">
                            {{#each listProducts}}
                            <div>
                                {{nameProduct}}.
                            </div>
                            {{/each}}
                        </td>
                        <td style="text-align: center" class="col-1">
                            <div>
                                {{total}}
                            </div>
                        </td>
                        <td style="text-align: center" class="col-2">
                            <div>
                                {{address}}
                            </div>
                        </td>
                        <td style="text-align: center" class="col-1">
                            <div>
                                {{formatStatus status}}
                            </div>

                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        <!-- /tab2 -->
    </div>
    <!-- /account tab content -->
</div>
</div>