<!-- SECTION -->
<div class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<!-- Product main img -->
			<div class="col-md-5 col-md-push-2">
				<div id="product-main-img">
					<div class="product-preview">
						<img src="/images/{{product.image}}" alt="">
					</div>

					<div class="product-preview">
						<img src="/images/product03.png" alt="">
					</div>

					<div class="product-preview">
						<img src="/images/product06.png" alt="">
					</div>

					<div class="product-preview">
						<img src="/images/product08.png" alt="">
					</div>
				</div>
			</div>
			<!-- /Product main img -->

			<!-- Product thumb imgs -->
			<div class="col-md-2  col-md-pull-5">
				<div id="product-imgs">
					<div class="product-preview">
						<img src="/images/{{product.image}}" alt="">
					</div>

					<div class="product-preview">
						<img src="/images/product03.png" alt="">
					</div>

					<div class="product-preview">
						<img src="/images/product06.png" alt="">
					</div>

					<div class="product-preview">
						<img src="/images/product08.png" alt="">
					</div>
				</div>
			</div>
			<!-- /Product thumb imgs -->

			<!-- Product details -->
			<div class="col-md-5">
				<div class="product-details">
					<h2 class="product-name">{{product.name}}</h2>
					<div>
						<div class="product-rating">
						</div>
						<p>Lượt xem: {{product.view}} <i class="fa fa-eye"></i></p>
					</div>
					<div>
						<h3 class="product-price">{{product.price}}</h3>
					</div>
					<p>{{product.voucher}}</p>

					<div class="add-to-cart">
						<button class="add-to-cart-btn" id="{{product._id}}" onclick="addCart(product.id)"><i
								class="fa fa-shopping-cart"></i> thêm vào giỏ</button>
					</div>
					<ul class="product-links">
						<li>Danh mục:</li>
						<li><a href="/product/category/{{product.category._id}}">{{product.categoryCode.name}}</a></li>
					</ul>
				</div>
			</div>
			<!-- /Product details -->

			<!-- Product tab -->
			<div class="col-md-12">
				<div id="product-tab">
					<!-- product tab nav -->
					<ul class="tab-nav">
						<li class="active"><a data-toggle="tab" href="#tab1">Mô tả chung</a></li>
						<li><a data-toggle="tab" href="#tab2">Thông tin chi tiết</a></li>
						<li><a data-toggle="tab" href="#tab3">Bình luận</a></li>
					</ul>
					<!-- /product tab nav -->

					<!-- product tab content -->
					<div class="tab-content">
						<!-- tab1  -->
						<div id="tab1" class="tab-pane fade in active">
							<div class="row">
								<div class="col-md-12">
									<p>{{product.more_info}}</p>
								</div>
							</div>
						</div>
						<!-- /tab1  -->

						<!-- tab2  -->
						<div id="tab2" class="tab-pane fade in">
							<div class="row">
								<div class="col-md-12">
									<table class="table table-striped">
										<thead>
											<tr>
												<th scope="col">Thông tin</th>
												<th scope="col">Mô tả</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<th scope="col">Tên</th>
												<td>{{product.name}}</td>
											</tr>
											<tr>
												<th scope="col">RAM</th>
												<td>{{product.ram}}</td>
											</tr>
											<tr>
												<th scope="col">Ổ cứng</th>
												<td>{{product.disk}}</td>
											</tr>
											<tr>
												<th scope="col">Màn hình</th>
												<td>{{product.screen}}</td>
											</tr>
											<tr>
												<th scope="col">Pin</th>
												<td>{{product.pin_battery}}</td>
											</tr>
											<tr>
												<th scope="col">CPU</th>
												<td>{{product.cpu}}</td>
											</tr>
											<tr>
												<th scope="col">Xuất xứ - Bảo hành</th>
												<td>{{product.warranty}}</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<!-- /tab2  -->
						<!-- tab3  -->
						<div id="tab3" class="tab-pane fade in">
							<div class="row">
								<!-- Rating -->
								<div class="col-md-3">
									<div id="rating">
										<div class="rating-avg">
											<span>4.5</span>
											<div class="rating-stars">
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star-o"></i>
											</div>
										</div>
										<ul class="rating">
											<li>
												<div class="rating-stars">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
												</div>
												<div class="rating-progress">
													<div style="width: 80%;"></div>
												</div>
												<span class="sum">3</span>
											</li>
											<li>
												<div class="rating-stars">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star-o"></i>
												</div>
												<div class="rating-progress">
													<div style="width: 60%;"></div>
												</div>
												<span class="sum">2</span>
											</li>
											<li>
												<div class="rating-stars">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star-o"></i>
													<i class="fa fa-star-o"></i>
												</div>
												<div class="rating-progress">
													<div></div>
												</div>
												<span class="sum">0</span>
											</li>
											<li>
												<div class="rating-stars">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star-o"></i>
													<i class="fa fa-star-o"></i>
													<i class="fa fa-star-o"></i>
												</div>
												<div class="rating-progress">
													<div></div>
												</div>
												<span class="sum">0</span>
											</li>
											<li>
												<div class="rating-stars">
													<i class="fa fa-star"></i>
													<i class="fa fa-star-o"></i>
													<i class="fa fa-star-o"></i>
													<i class="fa fa-star-o"></i>
													<i class="fa fa-star-o"></i>
												</div>
												<div class="rating-progress">
													<div></div>
												</div>
												<span class="sum">0</span>
											</li>
										</ul>
									</div>
								</div>
								<!-- /Rating -->

								<!-- Reviews -->
								<div class="col-md-6">
									<div id="reviews">
										<ul class="reviews" id="listComments">

										</ul>
										<ul class="reviews-pagination" id="commentsPagination">
											{{!-- <li class="active">1</li>
											<li><a href="#">2</a></li>
											<li><a href="#">3</a></li>
											<li><a href="#">4</a></li>
											<li><a href="#"><i class="fa fa-angle-right"></i></a></li> --}}
										</ul>
									</div>
								</div>
								<!-- /Reviews -->

								<!-- Review Form -->
								<div class="col-md-3">
									<div id="review-form">
										<form class="review-form" method="POST" action="/product/comments">
											<input class="input" type="text" name="idProduct" value="{{product._id}}"
												style="display: none" readonly required>
											{{#if userSession}}
											{{#with userSession}}
											<input class="input" type="text" placeholder="Tên" name="name"
												value="{{name}}" readonly required />
											{{/with}}
											{{else}}
											<input class="input" type="text" placeholder="Tên" name="name" required>
											{{/if}}
											<textarea class="input" placeholder="Bình luận" name="comment"
												required></textarea>
											<div class="input-rating">
												<span>Đánh giá: </span>
												<div class="stars">
													<input id="star5" name="rating" value="5" type="radio"
														required><label for="star5"></label>
													<input id="star4" name="rating" value="4" type="radio"><label
														for="star4"></label>
													<input id="star3" name="rating" value="3" type="radio"><label
														for="star3"></label>
													<input id="star2" name="rating" value="2" type="radio"><label
														for="star2"></label>
													<input id="star1" name="rating" value="1" type="radio"><label
														for="star1"></label>
												</div>
											</div>
											<button class="primary-btn">Gửi</button>
										</form>
									</div>
								</div>
								<!-- /Review Form -->
							</div>
						</div>
						<!-- /tab3  -->
					</div>
					<!-- /product tab content  -->
				</div>
			</div>
			<!-- /product tab -->
		</div>

		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /SECTION -->

<!-- Section -->
<div class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">

			<div class="col-md-12">
				<div class="section-title text-center">
					<h3 class="title">Các sản phẩm liên quan</h3>
				</div>
			</div>

			<!-- product -->
			{{#each listRelated}}
			<div class="col-md-3 col-xs-6">
				<div class="product">
					<a href="/product/detail/{{_id}}" class="product-detail-href">
						<div class="product-img">
							<img src="/images/{{image}}" alt="">
						</div>
					</a>
					<div class="product-body">
						<p class="product-category">{{categoryCode.name}}</p>
						<h3 class="product-name"><a href="/product/detail/{{_id}}">{{name}}</a></h3>
						<h4 class="product-price">{{price}}</h4>
						<div class="product-rating">
						</div>
						<div class="product-btns">
							<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">xem
									ngay</span></button>
						</div>
					</div>
					<div class="add-to-cart">
						<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> thêm vào giỏ</button>
					</div>
				</div>
			</div>
			{{/each}}
			<!-- /product -->

		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /Section -->